[submodule "Phoebus"]
	path = pack/LNP/graphics/Phoebus
	url = https://github.com/fricy/Phoebus
[submodule "ASCII-Square"]
	path = pack/LNP/graphics/ASCII-Square
	url = https://github.com/fricy/ASCII-Square
[submodule "ASCII-Default"]
	path = pack/LNP/graphics/ASCII-Default
	url = https://github.com/fricy/ASCII-Default
[submodule "Grim-Fortress"]
	path = pack/LNP/graphics/Grim-Fortress
	url = https://github.com/fricy/Grim-Fortress
[submodule "DawnFortress"]
	path = pack/LNP/graphics/DawnFortress
	url = https://github.com/fricy/DawnFortress
[submodule "CLA"]
	path = pack/LNP/graphics/CLA
	url = https://github.com/fricy/CLA
[submodule "Ironhand"]
	path = pack/LNP/graphics/Ironhand
	url = https://github.com/fricy/Ironhand
[submodule "Jolly-Bastion"]
	path = pack/LNP/graphics/Jolly-Bastion
	url = https://github.com/fricy/Jolly-Bastion
[submodule "Mayday"]
	path = pack/LNP/graphics/Mayday
	url = https://github.com/fricy/Mayday
[submodule "Shizzle"]
	path = pack/LNP/graphics/Shizzle
	url = https://github.com/fricy/Shizzle
[submodule "Taffer"]
	path = pack/LNP/graphics/Taffer
	url = https://github.com/fricy/Taffer
[submodule "Vherid"]
	path = pack/LNP/graphics/Vherid
	url = https://github.com/fricy/Vherid
[submodule "Spacefox"]
	path = Spacefox
	url = https://github.com/fricy/Spacefox
